name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash --noprofile --norc -CeEuxo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  tidy:
    uses: taiki-e/github-actions/.github/workflows/tidy.yml@main
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee
      repository-projects: read # for gh pr edit --add-assignee
    secrets: inherit

  free-device-space:
    strategy:
      fail-fast: false
      matrix:
        os:
          # NB: Sync list with https://github.com/taiki-e/checkout-action/blob/HEAD/.github/workflows/ci.yml
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - ubuntu-slim
          - macos-14
          - macos-15
          - macos-15-intel
          - macos-26
          - windows-2022
          - windows-2025
          - windows-11-arm
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - run: tools/print-dir-size.sh
      - uses: ./free-device-space
      - run: tools/print-dir-size.sh

  install-rust:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - ubuntu-slim
          - macos-latest
          - windows-latest
          - windows-11-arm
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: ./install-rust
        with:
          toolchain: nightly
          component: rustfmt,clippy
          target: x86_64-unknown-linux-musl,i686-unknown-linux-gnu
      - run: |
          rustc -Vv
          rustup -V
          cargo -Vv
          rustfmt -V
          cargo clippy -V
          rustup component list
          rustup target list

  setup-docker:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: ./setup-docker
