# Create a new GitHub release and run `cargo publish` (with Trusted Publishing).
#
# There is no stability guarantee for this workflow, since it's supposed to only be
# used in infra managed by us.
#
# Note: On the initial publish, Trusted Publishing doesn't work so use
# create-release-token.yml instead.
#
# Setup:
#
# 1. Visit https://crates.io/crates/<crate-name>/settings
#    and add Trusted Publishing setting, like:
#
#    Repository: <owner>/<repo>
#    Workflow: release.yml
#    Environment: release
#
# 2. Visit https://github.com/<owner>/<repo>/settings/environments
#    and create "release" environment.
#
# 3. If only selected actions are allowed,
#    Visit https://github.com/<owner>/<repo>/settings/actions
#    and add the followings to allowed actions:
#
#    rust-lang/crates-io-auth-action@*,
#    taiki-e/*,
#
# 4. If you ware migrated from create-release-token.yml,
#    remove crates.io API token from secrets.
#
# Usage:
#
# ```yml
#   create-release:
#     if: github.repository_owner == '<owner>'
#     uses: taiki-e/github-actions/.github/workflows/create-release.yml@main
#     permissions:
#       contents: write # for taiki-e/create-gh-release-action
#       id-token: write # for rust-lang/crates-io-auth-action
#     secrets: inherit
# ```
#
# See "on.workflow_call.inputs" below for input options.

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      rust:
        required: false
        type: string
        default: stable
      target:
        required: false
        type: string
      args:
        required: false
        type: string
      crates:
        required: false
        type: string
        default: '.'
      changelog:
        required: false
        type: string
        default: CHANGELOG.md
      title:
        required: false
        type: string
        default: $version
      branch:
        required: false
        type: string
        default: main
      prefix:
        required: false
        type: string

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  create-release:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: release
    permissions:
      contents: write # for taiki-e/create-gh-release-action
      id-token: write # for rust-lang/crates-io-auth-action
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ inputs.rust }}
          target: ${{ inputs.target }}
      - run: |
          IFS=$'\n\t'
          trap -- 's=$?; printf >&2 "%s\n" "${0##*/}:${LINENO}: \`${BASH_COMMAND}\` exit with ${s}"; exit ${s}' ERR
          crates=()
          while read -rd,; do
            crates+=("${REPLY}")
          done <<<"${INPUT_CRATES},"
          args=()
          [[ -z "${INPUT_TARGET}" ]] || args+=(--target "${INPUT_TARGET}")
          if [[ -n "${INPUT_ARGS}" ]]; then
            while read -rd' '; do
              [[ -z "${REPLY}" ]] || args+=("${REPLY}")
            done <<<"${INPUT_ARGS//[$'\n\t']/ } "
          fi
          for i in "${!crates[@]}"; do
            (
              set -x
              cd -- "${crates[${i}]}"
              cargo build "${args[@]}"
            )
          done
        env:
          INPUT_ARGS: ${{ inputs.args }}
          INPUT_CRATES: ${{ inputs.crates }}
          INPUT_TARGET: ${{ inputs.target }}
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: ${{ inputs.changelog }}
          title: ${{ inputs.title }}
          branch: ${{ inputs.branch }}
          prefix: ${{ inputs.prefix }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - run: |
          IFS=$'\n\t'
          trap -- 's=$?; printf >&2 "%s\n" "${0##*/}:${LINENO}: \`${BASH_COMMAND}\` exit with ${s}"; exit ${s}' ERR
          crates=()
          while read -rd,; do
            crates+=("${REPLY}")
          done <<<"${INPUT_CRATES},"
          args=()
          [[ -z "${INPUT_TARGET}" ]] || args+=(--target "${INPUT_TARGET}")
          if [[ -n "${INPUT_ARGS}" ]]; then
            while read -rd' '; do
              [[ -z "${REPLY}" ]] || args+=("${REPLY}")
            done <<<"${INPUT_ARGS//[$'\n\t']/ } "
          fi
          for i in "${!crates[@]}"; do
            (
              set -x
              cd -- "${crates[${i}]}"
              # TODO: retry on failure
              # TODO: handle already published case: https://github.com/rust-lang/cargo/blob/0.80.0/publish.py#L35
              # TODO: use workspace publishing: https://blog.rust-lang.org/2025/09/18/Rust-1.90.0/#cargo-adds-native-support-for-workspace-publishing
              cargo publish "${args[@]}"
            )
            if [[ $((i + 1)) != "${#crates[@]}" ]]; then
              sleep 45 # cargo's waiting is sometimes not enough
            fi
          done
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
          INPUT_ARGS: ${{ inputs.args }}
          INPUT_CRATES: ${{ inputs.crates }}
          INPUT_TARGET: ${{ inputs.target }}
