# Run `cargo miri test` in strict mode.
#
# There is no stability guarantee for this workflow, since it's supposed to only be
# used in infra managed by us.
#
# Usage:
#
# ```yml
#   miri:
#     uses: taiki-e/github-actions/.github/workflows/miri.yml@main
# ```
#
# See "on.workflow_call.inputs" below for input options.

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      rust:
        required: false
        type: string
        default: nightly
      target:
        required: false
        type: string
      args:
        required: false
        type: string
      all-features:
        required: false
        type: boolean
        default: true
      miriflags:
        required: false
        type: string
        default: -Zmiri-strict-provenance -Zmiri-symbolic-alignment-check -Zmiri-disable-isolation

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10
  # Reusable workflows cannot inherit environment variables.
  ATOMIC_MAYBE_UNINIT_DENY_WARNINGS: 1
  CARGO_HACK_DENY_WARNINGS: 1
  CARGO_LLVM_COV_DENY_WARNINGS: 1
  CARGO_MINIMAL_VERSIONS_DENY_WARNINGS: 1
  CARGO_NO_DEV_DEPS_DENY_WARNINGS: 1
  CONST_FN_DENY_WARNINGS: 1
  PORTABLE_ATOMIC_DENY_WARNINGS: 1
  SEMIHOSTING_DENY_WARNINGS: 1

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  miri:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ inputs.rust }}
          component: miri
      - run: |
          printf 'ALL_FEATURES=--all-features\n' >>"${GITHUB_ENV}"
        if: inputs.all-features && !contains(inputs.args, '--features') && !contains(inputs.args, '--no-default-features')
      - run: printf '%s\n' "MIRIFLAGS=${INPUT_MIRIFLAGS} -Zmiri-many-seeds=0..16" >>"${GITHUB_ENV}"
        env:
          INPUT_MIRIFLAGS: ${{ inputs.miriflags }}
        if: github.event_name == 'schedule'
      - run: printf '%s\n' "MIRIFLAGS=${INPUT_MIRIFLAGS}" >>"${GITHUB_ENV}"
        env:
          INPUT_MIRIFLAGS: ${{ inputs.miriflags }}
        if: github.event_name != 'schedule'
      - run: |
          IFS=$'\n\t'
          trap -- 's=$?; printf >&2 "%s\n" "${0##*/}:${LINENO}: \`${BASH_COMMAND}\` exit with ${s}"; exit ${s}' ERR
          args=()
          [[ -z "${INPUT_TARGET}" ]] || args+=(--target "${INPUT_TARGET}")
          if [[ -n "${INPUT_ARGS}" ]]; then
            while read -rd' '; do
              [[ -z "${REPLY}" ]] || args+=("${REPLY}")
            done <<<"${INPUT_ARGS//[$'\r\n\t']/ } " # Normalize whitespace characters into space.
          fi
          (
            set -x
            cargo miri test --workspace ${ALL_FEATURES:-} "${args[@]}"
          )
        env:
          INPUT_ARGS: ${{ inputs.args }}
          INPUT_TARGET: ${{ inputs.target }}
          RUSTDOCFLAGS: ${{ env.RUSTDOCFLAGS }} -Z randomize-layout
          RUSTFLAGS: ${{ env.RUSTFLAGS }} -Z randomize-layout
