# Run various checks.
#
# There is no stability guarantee for this workflow, since it's supposed to only be
# used in infra managed by us.
#
# Usage:
#
# ```yml
#   tidy:
#     uses: taiki-e/github-actions/.github/workflows/tidy.yml@main
# ```
#
# See "on.workflow_call.inputs" below for input options.

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      rust:
        required: false
        type: string
        default: nightly
      clippy:
        required: false
        type: boolean
        default: true
      clippy-target:
        required: false
        type: string
      clippy-args:
        required: false
        type: string
      check-external-types:
        required: false
        type: boolean
        default: true
      deny:
        required: false
        type: boolean
        default: true
      deny-args:
        required: false
        type: string
      docs:
        required: false
        type: boolean
        default: true
      docs-target:
        required: false
        type: string
      docs-args:
        required: false
        type: string
      codegen:
        required: false
        type: boolean
        default: true
      codegen-workflow:
        required: false
        type: string
        default: .github/workflows/ci.yml
      codegen-job:
        required: false
        type: string
        default: codegen

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10
  # Reusable workflows cannot inherit environment variables.
  ATOMIC_MAYBE_UNINIT_DENY_WARNINGS: 1
  CARGO_HACK_DENY_WARNINGS: 1
  CARGO_LLVM_COV_DENY_WARNINGS: 1
  CARGO_MINIMAL_VERSIONS_DENY_WARNINGS: 1
  CARGO_NO_DEV_DEPS_DENY_WARNINGS: 1
  CONST_FN_DENY_WARNINGS: 1
  PORTABLE_ATOMIC_DENY_WARNINGS: 1
  SEMIHOSTING_DENY_WARNINGS: 1

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  prepare:
    runs-on: ubuntu-slim
    timeout-minutes: 15 # Max execution time of ubuntu-slim runner.
    steps:
      - uses: taiki-e/checkout-action@v1
      - name: Prepare
        id: prepare
        run: |
          IFS=$'\n\t'
          trap -- 's=$?; printf >&2 "%s\n" "${0##*/}:${LINENO}: \`${BASH_COMMAND}\` exit with ${s}"; exit ${s}' ERR
          retry() {
            for i in {1..10}; do
              if "$@"; then
                return 0
              else
                sleep "${i}"
              fi
            done
            "$@"
          }
          if [[ -n "$(git ls-files '*.rs')" ]]; then
            printf 'rust=true\n' >>"${GITHUB_OUTPUT}"
            if ! type -P rustup; then
              retry curl --proto '=https' --tlsv1.2 -fsSL --retry 10 https://sh.rustup.rs | sh -s -- -y --default-toolchain "${INPUT_RUST}" --no-modify-path --profile minimal
              export PATH="${HOME}/.cargo/bin:${PATH}"
            fi
            metadata=$(cargo metadata --format-version=1 --no-deps)
            # Publishing is unrestricted if null, and forbidden if an empty array.
            if [[ -n "$(jq -c '. as $metadata | .workspace_members[] as $id | $metadata.packages[] | select(.id == $id and .publish != [])' <<<"${metadata}")" ]]; then
              printf 'rust-pub=true\n' >>"${GITHUB_OUTPUT}"
              if [[ -n "$(jq -c '. as $metadata | .workspace_members[] as $id | $metadata.packages[] | select(.id == $id and .publish != [] and .targets[].kind[] == "lib")' <<<"${metadata}")" ]]; then
                printf 'rust-pub-lib=true\n' >>"${GITHUB_OUTPUT}"
              fi
              if [[ -n "$(jq -c '. as $metadata | .workspace_members[] as $id | $metadata.packages[] | select(.id == $id and .publish != [] and .targets[].kind[] == "proc-macro")' <<<"${metadata}")" ]]; then
                printf 'rust-pub-proc-macro=true\n' >>"${GITHUB_OUTPUT}"
              fi
            fi
          fi
          if [[ -n "$(git ls-files '*Dockerfile*')" ]]; then
            printf 'dockerfile=true\n' >>"${GITHUB_OUTPUT}"
          fi
          if [[ -e tools/gen.sh ]]; then
            pip3 install yq
            export PATH="${HOME}/.local/bin:${PATH}"
            job=$(yq -c ".jobs.\"${INPUT_CODEGEN_JOB}\"" "${INPUT_CODEGEN_WORKFLOW}")
            if [[ "${job}" == "null" ]]; then
              printf 'codegen=true\n' >>"${GITHUB_OUTPUT}"
              if [[ -e tools/ci/gen.sh ]]; then
                printf 'codegen-commit=true\n' >>"${GITHUB_OUTPUT}"
              fi
            fi
          elif [[ -e tools/ci/gen.sh ]]; then
            printf '%s\n' "::error::tools/ci/gen.sh is available but tools/gen.sh is not available"
            exit 1
          fi
        env:
          INPUT_RUST: ${{ inputs.rust }}
          INPUT_CODEGEN_JOB: ${{ inputs.codegen-job }}
          INPUT_CODEGEN_WORKFLOW: ${{ inputs.codegen-workflow }}
    outputs:
      rust: ${{ steps.prepare.outputs.rust }}
      rust-pub: ${{ steps.prepare.outputs.rust-pub }}
      rust-pub-lib: ${{ steps.prepare.outputs.rust-pub-lib }}
      rust-pub-proc-macro: ${{ steps.prepare.outputs.rust-pub-proc-macro }}
      dockerfile: ${{ steps.prepare.outputs.dockerfile }}
      codegen: ${{ steps.prepare.outputs.codegen }}
      codegen-commit: ${{ steps.prepare.outputs.codegen-commit }}

  tidy:
    needs: prepare
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee
      repository-projects: read # for gh pr edit --add-assignee
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ inputs.rust }}
          component: rustfmt
        if: needs.prepare.outputs.rust == 'true'
      - uses: taiki-e/install-action@v2
        with:
          tool: shellcheck,shfmt,zizmor${{ needs.prepare.outputs.dockerfile == 'true' && ',parse-dockerfile' || '' }}
      - run: cat -- tools/.tidy-check-license-headers
      - run: cat -- .cspell.json
      - run: printf 'REMOVE_UNUSED_WORDS=1\n' >>"${GITHUB_ENV}"
        if: github.repository_owner == 'taiki-e' && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'push' && github.ref == 'refs/heads/main')
      - run: tools/tidy.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          [[ ! -f tools/cspell-dict.sh ]] || tools/cspell-dict.sh clean
      - name: Handle diff
        id: diff
        run: |
          git config user.name 'Taiki Endo'
          git config user.email 'te316e89@gmail.com'
          git add -N .github/.cspell
          if ! git diff --exit-code -- .github/.cspell &>/dev/null; then
            git add .github/.cspell
            git commit -m "Update cspell dictionary"
            printf 'success=false\n' >>"${GITHUB_OUTPUT}"
          fi
        if: github.repository_owner == 'taiki-e' && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'push' && github.ref == 'refs/heads/main')
      - run: git add -N . && git -c color.ui=always diff --exit-code
      - id: create-pull-request
        uses: peter-evans/create-pull-request@v7
        with:
          title: Update cspell dictionary
          body: |
            Auto-generated by CI using [create-pull-request](https://github.com/peter-evans/create-pull-request).
          branch: update-cspell-dictionary
          token: ${{ secrets.CREATE_PR_TOKEN }}
        if: github.repository_owner == 'taiki-e' && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'push' && github.ref == 'refs/heads/main') && steps.diff.outputs.success == 'false'
      - name: Notify PR author by assigning PR
        run: gh pr edit --add-assignee taiki-e "${PR_NUMBER:?}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ steps.create-pull-request.outputs.pull-request-number }}
        if: github.repository_owner == 'taiki-e' && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'push' && github.ref == 'refs/heads/main') && steps.diff.outputs.success == 'false'

  clippy:
    needs: prepare
    if: inputs.clippy && needs.prepare.outputs.rust == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ inputs.rust }}
          component: clippy
      - name: Run cargo clippy
        run: |
          IFS=$'\n\t'
          trap -- 's=$?; printf >&2 "%s\n" "${0##*/}:${LINENO}: \`${BASH_COMMAND}\` exit with ${s}"; exit ${s}' ERR
          retry() {
            for i in {1..10}; do
              if "$@"; then
                return 0
              else
                sleep "${i}"
              fi
            done
            "$@"
          }
          args=()
          if [[ "${INPUT_ARGS}" != *"-features"* ]]; then
            args+=(--all-features)
          fi
          if [[ -n "${INPUT_ARGS}" ]]; then
            while read -rd' '; do
              [[ -z "${REPLY}" ]] || args+=("${REPLY}")
            done <<<"${INPUT_ARGS//[$'\n\t']/ } "
          fi
          host=$(rustc -vV | grep -E '^host:' | cut -d' ' -f2)
          # metadata=$(cargo metadata --format-version=1 --no-deps)
          # Handle target inputs.
          run_host=''
          targets=()
          tier3_targets=()
          if [[ -n "${INPUT_TARGET}" ]]; then
            while read -rd,; do
              if [[ "${REPLY}" == "${host}" ]]; then
                run_host=1
              elif rustup target list | cut -d' ' -f1 | grep -Eq "^${REPLY}$"; then
                retry rustup target add "${REPLY}"
                targets+=(--target="${REPLY}")
              else
                tier3_targets+=(--target="${REPLY}")
              fi
            done <<<"${INPUT_TARGET},"
          else
            run_host=1
          fi
          if [[ -n "${RUSTDOCFLAGS:-}" ]]; then
              printf '%s\n' "+ RUSTDOCFLAGS='${RUSTDOCFLAGS}' \\"
          fi
          export RUSTFLAGS="${RUSTFLAGS} -Z crate-attr=feature(unqualified_local_imports) -D unqualified_local_imports"
          if [[ -n ${run_host} ]]; then
            # Do not pass --target for the target that same as host as RUSTFLAGS is not applied for host when --target option passed.
            (
              # core/alloc/std sets feature(strict_provenance_lints), so we cannot use
              # -Z crate-attr=feature(strict_provenance_lints) when -Z build-std is needed.
              # shellcheck disable=SC2030
              export RUSTFLAGS="${RUSTFLAGS} -Z crate-attr=feature(strict_provenance_lints) -D fuzzy_provenance_casts"
              printf '%s\n' "+ RUSTFLAGS='${RUSTFLAGS}' \\"
              set -x
              cargo clippy --workspace --all-targets "${args[@]}"
            )
          fi
          if [[ ${#targets[@]} -gt 0 ]]; then
            (
              # core/alloc/std sets feature(strict_provenance_lints), so we cannot use
              # -Z crate-attr=feature(strict_provenance_lints) when -Z build-std is needed.
              # shellcheck disable=SC2030,SC2031
              export RUSTFLAGS="${RUSTFLAGS} -Z crate-attr=feature(strict_provenance_lints) -D fuzzy_provenance_casts"
              printf '%s\n' "+ RUSTFLAGS='${RUSTFLAGS}' \\"
              set -x
              cargo clippy --workspace --all-targets "${targets[@]}" "${args[@]}"
            )
          fi
          if [[ ${#tier3_targets[@]} -gt 0 ]]; then
            # shellcheck disable=SC2031
            if [[ -n "${RUSTFLAGS:-}" ]]; then
                printf '%s\n' "+ RUSTFLAGS='${RUSTFLAGS}' \\"
            fi
            retry rustup component add rust-src
            for target in "${tier3_targets[@]}"; do
              (
                set -x
                cargo clippy --workspace --all-targets "${target}" -Z build-std "${args[@]}"
              )
            done
          fi
          # TODO: [lints] table is not respected...
          # # Refs:
          # # - https://github.com/rust-lang/rust/issues/56232
          # # - https://github.com/Nemo157/dotfiles/blob/cee1b90cb23089990fe9bc559b7c2f012d0a59f0/packages/cargo-rustdoc-clippy.sh
          # export RUSTDOCFLAGS="${RUSTDOCFLAGS:-} -Z unstable-options --no-run --nocapture --test-builder clippy-driver"
          # # filter bin-only crate due to https://github.com/rust-lang/cargo/issues/5477
          # for manifest_path in $(jq -r '. as $metadata | .workspace_members[] as $id | $metadata.packages[] | select(.id == $id and (.targets[].kind[] == "lib" or .targets[].kind[] == "proc-macro")) | .manifest_path' <<<"${metadata}"); do
          #   (
          #     set -x
          #     cargo test --manifest-path "${manifest_path}" --doc "${args[@]}"
          #   )
          # done
        env:
          INPUT_ARGS: ${{ inputs.clippy-args }}
          INPUT_TARGET: ${{ inputs.clippy-target }}

  check-external-types:
    needs: prepare
    if: inputs.check-external-types && needs.prepare.outputs.rust-pub-lib == 'true'
    uses: ./.github/workflows/check-external-types.yml
    # with:
    #   rust: ${{ inputs.check-external-types-toolchain }}
    #   target: ${{ inputs.check-external-types-target }}
    #   args: ${{ inputs.check-external-types-args }}

  deny:
    needs: prepare
    if: inputs.deny && needs.prepare.outputs.rust-pub == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ inputs.rust }}
      - uses: taiki-e/install-action@v2
        with:
          # cargo-no-dev-deps is a workaround for https://github.com/EmbarkStudios/cargo-deny/issues/413
          tool: cargo-deny,cargo-no-dev-deps
      - run: |
          args=(--workspace --all-features)
          if [[ -n "${INPUT_ARGS}" ]]; then
            while read -rd' '; do
              [[ -z "${REPLY}" ]] || args+=("${REPLY}")
            done <<<"${INPUT_ARGS//[$'\n\t']/ } "
          fi
          (
            set -x
            cargo no-dev-deps --no-private deny "${args[@]}" check
          )
        env:
          INPUT_ARGS: ${{ inputs.deny-args }}

  docs:
    needs: prepare
    if: inputs.docs && (needs.prepare.outputs.rust-pub-lib == 'true' || needs.prepare.outputs.rust-pub-proc-macro == 'true')
    uses: ./.github/workflows/docs.yml
    with:
      rust: ${{ inputs.rust }}
      target: ${{ inputs.docs-target }}
      args: ${{ inputs.docs-args }}

  codegen:
    needs: prepare
    if: inputs.codegen && needs.prepare.outputs.codegen == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee
      repository-projects: read # for gh pr edit --add-assignee
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@nightly
        if: needs.prepare.outputs.rust == 'true'
      - run: tools/gen.sh
      - name: Handle diff
        id: diff
        run: tools/ci/gen.sh
        if: needs.prepare.outputs.codegen-commit == 'true' && github.repository_owner == 'taiki-e' && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'push' && github.ref == 'refs/heads/main')
      - run: git add -N . && git -c color.ui=always diff --exit-code
      - id: create-pull-request
        uses: peter-evans/create-pull-request@v7
        with:
          title: Update generated code
          body: |
            Auto-generated by CI using [create-pull-request](https://github.com/peter-evans/create-pull-request).
          branch: update-generated-code
          token: ${{ secrets.CREATE_PR_TOKEN }}
        if: needs.prepare.outputs.codegen-commit == 'true' && github.repository_owner == 'taiki-e' && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'push' && github.ref == 'refs/heads/main') && steps.diff.outputs.success == 'false'
      - name: Notify PR author by assigning PR
        run: gh pr edit --add-assignee taiki-e "${PR_NUMBER:?}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ steps.create-pull-request.outputs.pull-request-number }}
        if: needs.prepare.outputs.codegen-commit == 'true' && github.repository_owner == 'taiki-e' && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'push' && github.ref == 'refs/heads/main') && steps.diff.outputs.success == 'false'
